/* Base */

html {
  overflow-x: hidden;
}

@font-face {
  font-family: 'montse';
  src: url('../fonts/Montserrat-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'acumin';
  src: url('../fonts/AcuminVariableConcept.otf') format('otf')
}

body {
  line-height: 1.7;
  font-weight: 300;
  font-size: 1.1rem;
  color: #989898;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  /* font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-family: 'acumin', Fallback, sans-serif;
  color: #000;
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.site-footer {
  padding: 4em 0;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 8em 0;
  }
}

.site-footer p {
  color: #737373;
}

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
  color: #fff;
}

.site-footer a {
  color: #999999;
}

.site-footer a:hover {
  color: black;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

/* Navbar */

.site-logo {
  position: relative;
  font-weight: 900;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.site-logo a {
  color: #fff;
}

.site-logo a span {
  color: #6AFBFF;
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
}

.site-navbar .container-fluid {
  padding-left: 7rem;
  padding-right: 7rem;
}

@media (max-width: 991.98px) {
  .site-navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #6AFBFF;
  display: inline-block;
  padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li>a {
  padding: 5px 20px;
  color: #fff;
  display: inline-block;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #6AFBFF;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
  color: #6AFBFF !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a, .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a, .site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a, .site-navbar .site-navigation .site-menu .has-children:focus>a, .site-navbar .site-navigation .site-menu .has-children:active>a {
  color: #6AFBFF;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown, .site-navbar .site-navigation .site-menu .has-children:focus>.dropdown, .site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-navbar .site-navigation .site-menu.site-menu-dark>li>a {
  color: #000;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #6AFBFF;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .active {
  color: #6AFBFF;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper+.site-blocks-cover {
  margin-top: 96px;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar .site-menu-toggle>span:before {
  color: #fff !important;
}

.sticky-wrapper .site-navbar .site-menu>li {
  display: inline-block;
}

.sticky-wrapper .site-navbar .site-menu>li>a.active {
  color: #6AFBFF;
  position: relative;
}

.sticky-wrapper .site-navbar .site-menu>li>a.active:after {
  height: 2px;
  background: #6AFBFF;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.sticky-wrapper.is-sticky .site-navbar {
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.9) ;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu-toggle>span:before {
  color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #fff;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li {
  display: inline-block;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a {
  padding: 5px 20px;
  color: #fff;
  display: inline-block;
  text-decoration: none !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a:hover {
  color: #6AFBFF;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a.active:after {
  background: #6AFBFF;
}

.sticky-wrapper .shrink img{
  width: 25px;
  height: 50px;
} 

/* Blocks */

.intro-section {
  position: relative;
}

.intro-section>.container {
  z-index: 10;
  position: relative;
}

.intro-section, .intro-section .container .row {
  height: 100vh;
  min-height: 900px;
}

.intro-section:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../images/inicio/fondo.png');
  border-bottom-right-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .intro-section:before {
    width: 100%;
  }
}

.intro-section:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.intro-section h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}

@media (max-width: 991.98px) {
  .intro-section h1 {
    font-size: 2rem;
  }
}

.intro-section .desc {
  color: white;
  font-size: 1.4rem;
  max-width: 700px;
}

.intro-section a {
  color: #fff;
  text-decoration: underline;
}

.intro-section a:hover {
  text-decoration: none;
}

.intro-section .btn {
  text-decoration: none;
}

.contact-wrap {
  padding-bottom: 8rem !important;
}
  /* mi css */
  .nav-link{
    font-family: 'acumin', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
  }
  .menu-logo{
    width: 25px;
    height: 50px;
  }
  .main-banner{
    width: 100%;
    height:100%;
    max-width: 800px;
    max-height: 600px;
  }
  .naming-right{
   
    position:absolute;
    float: right;
    right: 3%;
    top:35%;
  }
  .naming-left{
   
    position:absolute;
    float: left;
    left: 3%;
    top:35%;
  }
.naming-right img{
  width: 40px;
}
.naming-left img{
  width: 40px;
}
  .main-banner-div{
    max-width: 100%;
    position: relative;
  }
  .main-banner-div-ads{
    max-width: 100%;
    position: relative;
  }
  .ads-right{
    position:absolute;
    float: right;
    right: 10%;
    top:100%;
  }
  .ads-left{
    position:absolute;
    float: left;
    left: 10%;
    top:100%;
  }
  .ads-right img{
    width: 206px;
  }
  .ads-left img{
    width: 109px;
  }
  .bgimg{
    background-color: #000;
  }
  .cellphone{
    height: 40rem;
    position:relative;
  }
  .cellphone img{
    max-width: 38rem;
    position: absolute;
    top:-5rem;
    left:15%;
  }
  .knowmore{
    height: 40rem;
  }
  .knowmoreImage{
    position: absolute;
    top:50%;
    width:15rem;
  }
  /* .section-3{
    padding-top: 3rem;
  } */
  .sec-3-naming-left{
   
    position:absolute;
    float: left;
    left: 3%;
    top:3%;
  }

.sec-3-naming-left img{
  width: 40px;
}
.section-4{
  background-color: #000;
  padding-top:10rem;
  height: 30rem;
  position: relative;
  -webkit-box-shadow: 1px -40px 30px 5px rgba(0,0,0,0.55);
-moz-box-shadow: 1px -40px 30px 5px rgba(0,0,0,0.55);
box-shadow: 1px -40px 30px 5px rgba(0,0,0,0.55);
}
.subsection-4{
  top:50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin:0;
}
.header{
  top:0%;
  left: 50%;
  text-align: center;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin:0;
}
.header img{
  width: 12rem;
}
.h-section {
  height: 85rem;
  background-color: black;
}
.sponsor img{
  width: 10.25rem;
}
.sponsor2 img{
  width: 14rem;
}
.footerlinks{
  font-family: 'acumin', sans-serif;
  font-weight: 900;
  padding-left: 40px;
  padding-right: 40px;
  color:white;
}
a:hover{
  color:#6AFBFF!important;
}

.element-first {
  background: url('../images/seccion2/iconoilustracion.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}

.element-first:hover {
  background: url('../images/seccion2/ilustracioncolor.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}

#carousel-ilustracion, #carousel-editorial, #carousel-uxui, #carousel-branding, #carousel-digital{
  visibility: hidden;
}

.element-second {
  background: url('../images/seccion2/iconoeditorial.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}

.element-second:hover {
  background: url('../images/seccion2/editorialcolor.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}
.element-third {
  background: url('../images/seccion2/iconobranding.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}

.element-third:hover {
  background: url('../images/seccion2/brandingcolor.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}
.element-fourth {
  background: url('../images/seccion2/iconouiux.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}

.element-fourth:hover {
  background: url('../images/seccion2/uiux.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}
.element-fifth {
  background: url('../images/seccion2/iconodigital.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}

.element-fifth:hover {
  background: url('../images/seccion2/digitialcolor.png');
  background-repeat: no-repeat;
  background-size: 70px 160px;
}

.element-h{
  cursor: pointer;
  opacity: 0.3;
  height: 160px;
  width: 70px;
}
.textura{
  background: url('../images/inicio/textura.png') ;
  background-repeat: no-repeat;
  background-size: 100% 90rem;

}
.element-h:hover{
  opacity: 1;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.footer-section {
  background-color: #000;
  height: 65rem;
  background-image: url('../images/inicio/textura.png');
  background-position: center; background-repeat: no-repeat; background-size: cover;
}
.relative-footer{
  width: 100%;
  height: 65rem;
  position: relative;
}
.footer-main{
  position: absolute!important;
  top:50%;
}
.four img{
  position: absolute;
  width: 25rem;
  top:65%;
  left:-3%;
}
.sixtynine img{
  position: absolute;
  width: 95rem;
  top:0;
  right: -25%;
}
.crowne img{
  position: absolute;
  width: 25rem;
  bottom:0;
  right:0;
}
.date img{
  margin-top: 10rem;
  position: absolute;
  left:20%;
  width: 15rem;
}
.social img{
  margin-top: 10rem;
  position: absolute;
  right: 20%;
  width: 15rem;
}
.logofooter img{
  margin-top:20rem;
  width: 10rem;
}

/* responsive */
@media (max-width: 1600px) {
  .sixtynine img{
    width: 75rem;
    right: -23%;
  }
}
@media (max-width: 1366px) {
  .sixtynine img{
    width: 75rem;
    right: -28%;
  }
}
@media (max-width: 1024px) {
  .sixtynine img{
    width: 65rem;
    right: -32%;
  }
  .four img{
    position: absolute;
    width: 20rem;
    top:65%;
    left:-4%;
  }
  .footer-section {
    height: 55rem;
  }
  .relative-footer{
    height: 55rem;
  }
  .logofooter img{
    margin-top:15rem;
  }
  .crowne img{
    width: 20rem;
  }
  .cellphone{
    height: 25rem;
  }
  .cellphone img{
    max-width: 28rem;
    top:-15rem;
    left:15%;
  }
  .ads-right img{
    width: 180px;
  }
  .ads-left img{
    width: 90px;
  }
}
@media (max-width: 768px) {
  .sixtynine img{
    width: 50rem;
    right: -32%;
  }
  .four img{
    position: absolute;
    width: 15rem;
    top: 70%;
    left:-4%;
  }
  .footer-section {
    height: 45rem;
  }
  .relative-footer{
    height: 45rem;
  }
  .logofooter img{
    margin-top:10rem;
  }
  .date img{
    margin-top: 5rem;
    left:20%;
    width: 10rem;
  }
  .social img{
    margin-top: 5rem;
    right: 20%;
    width: 10rem;
  }
  .intro-section, .intro-section .container .row {
    height: 800px;
    min-height: 800px;
  }
  .site-mobile-menu{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .site-mobile-menu .site-nav-wrap a {
    color: #fff;
    font-family: 'acumin', sans-serif;
  }
  .section-4{
    height: 28rem;
  }
}
@media (max-width: 600px){
  .intro-section, .intro-section .container .row {
    height: 500px;
    min-height: 500px;
  }
  .section-4{
    height: 28rem;
  }
  .sixtynine img{
    width: 45rem;
    right: -38%;
  }
  .four img{
    width: 12rem;
    top:70%;
    left:-5%;
  }
  .footer-section {
    height: 45rem;
  }
  .relative-footer{
    height: 45rem;
  }
  .logofooter img{
    margin-top:10rem;
    width: 7rem;
  }
  .crowne img{
    width: 15rem;
  }
} 
@media(max-width:500px){
  .sixtynine img{
    width: 35rem;
    right: -42%;
  }
  .four img{
    position: absolute;
    width: 8rem;
    top:75%;
    left:-4%;
  }
  .cellphone{
    height: 10rem;
  }
  .cellphone img{
    max-width: 20rem;
    top:-10rem;
    left:15%;
  }
  .knowmore{
    height: 25rem;
  }
  .knowmore img{
    width: 10rem;
  }
  .sec-3-naming-left{
    display: none;
  }
  .footerlinks{
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-section {
    height: 30rem;
  }
  .relative-footer{
    height: 30rem;
  }
  .logofooter img{
    margin-top:5rem;
    width: 6rem;
  }
  .crowne img{
    width: 12rem;
  }
  .date img{
    margin-top: 1rem;
    left: 15%;
  }
  .social img{
    margin-top: 3rem;
    right: 15%;
  }
  .menu-logo {
    width: 35px;
    height: 60px;
}
.intro-section, .intro-section .container .row {
  height: 400px;
  min-height: 400px;
}
.ads-left img {
  width: 60px;
}
.ads-right img {
  width: 140px;
}
.naming-left img {
  width: 25px;
}
.naming-right img {
  width: 25px;
}
.site-mobile-menu{
  width: 60%;
}
}
video {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}